@font-face
{
    font-family: 'RubikMonoOne-Regular';
    font-weight: normal;
    font-style: normal;

    color: white;

    src: url('RubikMonoOne-Regular.ttf');
}

h1
{
    font-family: RubikMonoOne-Regular;
    font-size: 30px;

    color: aqua;
}

.button
{
    font-family: RubikMonoOne-Regular;
    font-size: 20px;

    padding: 5px;

    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.button:hover
{
    cursor: pointer;

    background-color: #dfdfdf;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

html {
    height: 100%;
}

body
{
    overflow: hidden;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: RubikMonoOne-Regular;
    background: linear-gradient(360deg,#3c2974 30%, #7a0085 100%);
}

.content::-webkit-scrollbar {
  display: none;
}

.content{
    height: 100%;
    overflow-y: scroll;
}

.text
{
    font-family: RubikMonoOne-Regular;
    font-size: 20px;

    width: 100%;
    height: 50px;
    padding: 5px;

    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

button
{
    font-family: RubikMonoOne-Regular;
    font-size: 20px;

    width: 100%;
    padding: 5px;

    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

select
{
    width: 90%;
    height: 40px;
}

