.lobby-list
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
    min-height: 500px;
}
.lobby-settings
{
    min-height: 450px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}
.selecting-settings
{
    height: 40px;
    padding: 20px;
    margin: 20px 0;
}
.player
{
    display: grid;
    align-content: center;
    align-items: center;

    margin: 20px 0px;
    min-width: 150px;
    height: 40px;

    border: solid rgb(253, 253, 253) 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);

    grid-template-columns: 60px calc(100% - 60px);
}

.player-avatar
{
    width: 35px;
    height: 35px;

    border: solid white 2px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .3);
}
