.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    margin: auto;
    width: 80%;
    height: 80%;
    align-content: stretch;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.253);
    align-items: center;
    min-width: 600px;
    max-height: 80%;
}
.image{
    width: 100%;
    min-width: 600px;
}
.meme{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
}
.make-text{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 700px;
    
}
.start-button{
    display: grid;
    background-color: rgba(255, 0, 0, 0.6);
    width: 80%;
    height: 60px;
    border: solid 2px black;
    border-radius: 20px;
    align-items: center;
    text-align: center;justify-items: center;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}
.start-button:hover{
    background-color: rgba(255, 0, 0, 0.75);
    cursor: pointer;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
}
.text{
    width: calc(100% - 40px);
    min-height: 80px;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 2px black;
    resize: none;
    border-radius: 20px;
    padding: 12px 20px;
    outline: none;
}
.text:hover{
    
}
.parent-text{
    max-height: 720px;
    min-height: 500px;
}


.timer__items {
  display: flex;
  font-size: 48px;
  position: absolute;
  top: 20px;
  right: 50px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}