.image
{
    width: 100%;
}
.start-button
{
    height: 60px;

    border: solid 2px black;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, .6);
}
.start-button:hover
{
    background-color: rgba(255, 0, 0, .75);
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}

.time
{
    font-size: 48px;
}

