.logo
{
    width: 400px;
}
.avatar
{
    width: 150px;
    height: 150px;

    border: solid 4px white;
    border-radius: 100%;
    background-color: #3c2974;
}
.arrow
{
    position: relative;z-index: 2;top: -40px;
    left: 110px;

    width: 30px;
    height: 30px;

    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}
.arrow :hover
{
    cursor: pointer;

    border-radius: 100%;
    background-color: rgb(217, 196, 255);
}
