.content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    width: 80%;
    height: 80%;
    align-content: stretch;
    justify-items: center;
}
.logo{
    min-width: 200px;
    max-width: 400px;
    width: 50%;
}
.avatar{
    width: 150px;
    height: 150px;
    background-color: #3C2974;
    border-radius: 100%;
    border: solid 4px white;
}
.arrow{
    position: relative;
    left: 110px; top: -40px; z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.arrow :hover{
    background-color: rgb(217, 196, 255);
    border-radius: 100%;
    cursor: pointer;
}
.registration-button{
    display: flex;
    width: 220px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    border: solid 3px rgb(0, 0, 0);
    font-family: RubikMonoOne-Regular;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.registration{
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: center;
}
.name{
    display: flex;
    width: 220px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    border: solid 3px rgb(0, 0, 0);
    font-family: RubikMonoOne-Regular;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.registration-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    align-items: center;
    justify-items: center;
}


.content-grade{
    display: grid;
    grid-template-rows: 80% 20%;
    margin: auto;
    width: 80%;
    height: 80%;
    align-content: stretch;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.grade-buttons-parant{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    align-items: center;
    justify-items: center;
}
.button-image{
    width: 80px;
    height: 80px;
    border: solid 3px #ffffff;
    border-radius: 100%;
}
.grade{
    position: relative;
    left: 60px; top: -33px; z-index: 2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #0000006c;
}
.button-image:hover{
    cursor: pointer;
    border: solid 3px #0000006c;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);
}